
@model IEnumerable<OTS.Models.AnnualAppraisalModel>
    
@*<script type="text/javascript" src="~/assets/js/AppraisalJavaScript.js"></script>">
<script type="text/javascript" src="~/assets/js/AppraisalJavaScript.min.js"></script>">*@

<style type="text/css">
    .required {
        color: red;
    }

    .myclass {
        text-transform: capitalize;
    }

    #content {
        height: 900px;
    }
</style>
<style type="text/css">
    #tabs {
        overflow: hidden;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
    }

        #tabs li {
            float: left;
            margin: 0 .5em 0 0;
        }

        #tabs a {
            position: relative;
            background: #ddd;
            background-image: linear-gradient(to bottom, #fff, #ddd);
            padding: .7em 3.5em;
            float: left;
            text-decoration: none;
            color: #444;
            text-shadow: 0 1px 0 rgba(255,255,255,.8);
            border-radius: 5px 0 0 0;
            box-shadow: 0 2px 2px rgba(0,0,0,.4);
        }

            #tabs a:hover,
            #tabs a:hover::after,
            #tabs a:focus,
            #tabs a:focus::after {
                background: #fff;
            }

            #tabs a:focus {
                outline: 0;
            }

            #tabs a::after {
                content: '';
                position: absolute;
                z-index: 1;
                top: 0;
                right: -.5em;
                bottom: 0;
                width: 1em;
                background: #ddd;
                background-image: linear-gradient(to bottom, #fff, #ddd);
                box-shadow: 2px 2px 2px rgba(0,0,0,.4);
                transform: skew(10deg);
                border-radius: 0 5px 0 0;
            }

        #tabs #current a,
        #tabs #current a::after {
            background: #fff;
            z-index: 3;
        }

    #content {
        background: #fff;
        padding: 2em;
        height: 220px;0
        position: relative;
        z-index: 2;
        border-radius: 0 5px 5px 5px;
        box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {        
    $("#content").find("[id^='tab']").hide(); // Hide all content
    $("#tabs li:first").attr("id","current"); // Activate the first tab
    $("#content #tab1").fadeIn(); // Show first tab's content

    $('#tabs a').click(function(e) {
        e.preventDefault();
        if ($(this).closest("li").attr("id") == "current"){ //detection for current tab
         return;
        }
        else{
          $("#content").find("[id^='tab']").hide(); // Hide all content
          $("#tabs li").attr("id",""); //Reset id's
          $(this).parent().attr("id","current"); // Activate this
          $('#' + $(this).attr('name')).fadeIn(); // Show content for the current tab
        }
    });            
});
</script>
<script type="text/javascript">
    $(document).ready(function () {

        $('input[type="text"]').each(function(){
            $(this).on('keypress',function(event){
                var letters = /^[1-5]+$/;
                var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
                if (!letters.test(key)) {
                    event.preventDefault();
                    return false;
                }
            });
        });
        $("#btnReset").on('click',function(){
            //$(':input').each(function(){
            //    $(this).val("");
            //});
            //$('#txt_CURRENTROLL_SELFRATING').val("");
            //$('#txt_CURRENTROLL_SELFEXP').val("");
            //$('#txt_CURRENTROLL_MGRRATING').val("");
            //$('#txt_CURRENTROLL_MGREXP').val("");
            //$('#txt_QUALITYWORK_SELFRATING').val("");
            //$('#txt_QUALITYWORK_SELFEXP').val("");
            //$('#txt_QUALITYWORK_MGRRATING').val("");
            //$('#txt_QUALITYWORK_MGREXP').val("");
            //$('#txt_ORGWORK_SELFRATING').val("");
            //$('#txt_ORGWORK_SELFEXP').val("");
            //$('#txt_ORGWORK_MGRRATING').val("");
            //$('#txt_ORGWORK_MGREXP').val("");
            //$('#txt_INITIATE_SELFRATING').val("");
            //$('#txt_INITIATE_SELFEXP').val("");
            //$('#txt_INITIATE_MGRRATING').val("");
            //$('#txt_INITIATE_MGREXP').val("");
            //$('#txt_PERSONAL_SELFRATING').val("");
            //$('#txt_PERSONAL_SELFEXP').val("");
            //$('#txt_PERSONAL_MGRRATING').val("");
            //$('#txt_PERSONAL_MGREXP').val("");
            //$('#txt_VSKILL_SELFRATING').val("");
            //$('#txt_VSKILL_SELFEXP').val("");
            //$('#txt_VSKILL_MGRRATING').val("");
            //$('#txt_VSKILL_MGREXP').val("");
            //$('#txt_WSKILL_SELFRATING').val("");
            //$('#txt_WSKILL_SELFEXP').val("");
            //$('#txt_WSKILL_MGRRATING').val("");
            //$('#txt_WSKILL_MGREXP').val("");
            //$('#txt_TEAM_SELFRATING').val("");
            //$('#txt_TEAM_SELFEXP').val("");
            //$('#txt_TEAM_MGRRATING').val("");
            //$('#txt_TEAM_MGREXP').val("");
            //$('#txt_CONFIDENTIALITY_SELFRATING').val("");
            //$('#txt_CONFIDENTIALITY_SELFEXP').val("");
            //$('#txt_CONFIDENTIALITY_MGRRATING').val("");
            //$('#txt_CONFIDENTIALITY_MGREXP').val("");
            //$('#txt_ATTENDANCE_SELFRATING').val("");
            //$('#txt_ATTENDANCE_SELFEXP').val("");
            //$('#txt_ATTENDANCE_MGRRATING').val("");
            //$('#txt_ATTENDANCE_MGREXP').val("");
            //$('#txt_SECTION_SECOND_TOTALRATING').val("");

            //$('#txt_SECTION_ONE_OVERALL_TOTALRATING').val("");
            //$("#txt_SECTION_2_OVERALL_TOTALRATING").val("");
            //$("#txt_SUBTOTAL").val("");
            //$("#txt_OVERALL_RATING").val("");
        });
        $("#btn_Submit").on('click', function () {            
            var APPRAISAL_ID = $("#hdn_Appraisal_id").val();
            var Emp_id = @Session["EMP_ID"];
            var EMP_NAME = $('#txt_EmpName').val();
            var MANAGER_NAME =$("#txt_ManagerName").val();
            var POSITION_TITLE =$("#txt_PositionTitle").val();
            var CUR_DATE=$("#txt_ReviewDate").val();
            var FROM_DATE=$("#txt_FromDate").val();
            var TO_DATE=$("#txt_ToDate").val();
            var DEPARTMENT=$("#txt_Department").val();
            var GOAL_QUARTER=$("#txt_KeyResponsibility").val();
            var FINAL_RATING=$("#txt_FinalRating").val();

            var CURRENTROLL_SELFRATING =$("#txt_CURRENTROLL_SELFRATING").val();
            var CURRENTROLL_SELFEXP =$("#txt_CURRENTROLL_SELFEXP").val();
            var CURRENTROLL_MGRRATING =$("#txt_CURRENTROLL_MGRRATING").val();
            var CURRENTROLL_MGREXP =$("#txt_CURRENTROLL_MGREXP").val();
            var QUALITYWORK_SELFRATING =$("#txt_QUALITYWORK_SELFRATING").val();
            var QUALITYWORK_SELFEXP =$("#txt_QUALITYWORK_SELFEXP").val();
            var QUALITYWORK_MGRRATING =$("#txt_QUALITYWORK_MGRRATING").val();
            var QUALITYWORK_MGREXP =$("#txt_QUALITYWORK_MGREXP").val();
            var ORGWORK_SELFRATING =$("#txt_ORGWORK_SELFRATING").val();
            var ORGWORK_SELFEXP =$("#txt_ORGWORK_SELFEXP").val();
            var ORGWORK_MGRRATING =$("#txt_ORGWORK_MGRRATING").val();
            var ORGWORK_MGREXP =$("#txt_ORGWORK_MGREXP").val();
            var INITIATE_SELFRATING =$("#txt_INITIATE_SELFRATING").val();
            var INITIATE_SELFEXP =$("#txt_INITIATE_SELFEXP").val();
            var INITIATE_MGRRATING =$("#txt_INITIATE_MGRRATING").val();
            var INITIATE_MGREXP =$("#txt_INITIATE_MGREXP").val();
            var PERSONAL_SELFRATING =$("#txt_PERSONAL_SELFRATING").val();
            var PERSONAL_SELFEXP =$("#txt_PERSONAL_SELFEXP").val();
            var PERSONAL_MGRRATING =$("#txt_PERSONAL_MGRRATING").val();
            var PERSONAL_MGREXP =$("#txt_PERSONAL_MGREXP").val();
            var VSKILL_SELFRATING =$("#txt_VSKILL_SELFRATING").val();
            var VSKILL_SELFEXP =$("#txt_VSKILL_SELFEXP").val();
            var VSKILL_MGRRATING =$("#txt_VSKILL_MGRRATING").val();
            var VSKILL_MGREXP =$("#txt_VSKILL_MGREXP").val();
            var WSKILL_SELFRATING =$("#txt_WSKILL_SELFRATING").val();
            var WSKILL_SELFEXP =$("#txt_WSKILL_SELFEXP").val();
            var WSKILL_MGRRATING =$("#txt_WSKILL_MGRRATING").val();
            var WSKILL_MGREXP =$("#txt_WSKILL_MGREXP").val();
            var TEAM_SELFRATING =$("#txt_TEAM_SELFRATING").val();
            var TEAM_SELFEXP =$("#txt_TEAM_SELFEXP").val();
            var TEAM_MGRRATING =$("#txt_TEAM_MGRRATING").val();
            var TEAM_MGREXP =$("#txt_TEAM_MGREXP").val();
            var CONFIDENTIALITY_SELFRATING =$("#txt_CONFIDENTIALITY_SELFRATING").val();
            var CONFIDENTIALITY_SELFEXP =$("#txt_CONFIDENTIALITY_SELFEXP").val();
            var CONFIDENTIALITY_MGRRATING =$("#txt_CONFIDENTIALITY_MGRRATING").val();
            var CONFIDENTIALITY_MGREXP =$("#txt_CONFIDENTIALITY_MGREXP").val();
            var ATTENDANCE_SELFRATING =$("#txt_ATTENDANCE_SELFRATING").val();
            var ATTENDANCE_SELFEXP =$("#txt_ATTENDANCE_SELFEXP").val();
            var ATTENDANCE_MGRRATING =$("#txt_ATTENDANCE_MGRRATING").val();
            var ATTENDANCE_MGREXP =$("#txt_ATTENDANCE_MGREXP").val();
            var SECTION_SECOND_TOTALRATING =$("#txt_SECTION_SECOND_TOTALRATING").val();

            var SECTION_ONE_OVERALL_TOTALRATING =$("#txt_SECTION_ONE_OVERALL_TOTALRATING").val();
            var SECTION_2_OVERALL_TOTALRATING =$("#txt_SECTION_2_OVERALL_TOTALRATING").val();
            var SUBTOTAL =$("#txt_SUBTOTAL").val();
            var OVERALL_RATING =$("#txt_OVERALL_RATING").val();                       

            var ObjResponsibility = {
                'EMP_ID': Emp_id,
                'NAME': EMP_NAME,
                'MANAGER_NAME':MANAGER_NAME,
                'DESIGNATION':POSITION_TITLE,
                'CURRENT_DATE':CUR_DATE,
                'FROM_DATE':FROM_DATE,
                'TO_DATE':TO_DATE,
                'DEPARTMENT':DEPARTMENT,
                'GOAL_QUARTER':GOAL_QUARTER,
                'FINAL_RATING' :FINAL_RATING
            };
            var ObjPerformance={'APPRAISAL_ID':APPRAISAL_ID,
                'CURRENTROLL_SELFRATING':CURRENTROLL_SELFRATING,
                'CURRENTROLL_SELFEXP':CURRENTROLL_SELFEXP,
                'CURRENTROLL_MGRRATING':CURRENTROLL_MGRRATING,
                'CURRENTROLL_MGREXP':CURRENTROLL_MGREXP,
                'QUALITYWORK_SELFRATING':QUALITYWORK_SELFRATING,
                'QUALITYWORK_SELFEXP':QUALITYWORK_SELFEXP,
                'QUALITYWORK_MGRRATING':QUALITYWORK_MGRRATING,
                'QUALITYWORK_MGREXP':QUALITYWORK_MGREXP,
                'ORGWORK_SELFRATING':ORGWORK_SELFRATING,
                'ORGWORK_SELFEXP':ORGWORK_SELFEXP,
                'ORGWORK_MGRRATING':ORGWORK_MGRRATING,
                'ORGWORK_MGREXP':ORGWORK_MGREXP,
                'INITIATE_SELFRATING':INITIATE_SELFRATING,
                'INITIATE_SELFEXP':INITIATE_SELFEXP,
                'INITIATE_MGRRATING':INITIATE_MGRRATING,
                'INITIATE_MGREXP':INITIATE_MGREXP,
                'PERSONAL_SELFRATING':PERSONAL_SELFRATING,
                'PERSONAL_SELFEXP':PERSONAL_SELFEXP,
                'PERSONAL_MGRRATING':PERSONAL_MGRRATING,
                'PERSONAL_MGREXP':PERSONAL_MGREXP,
                'VSKILL_SELFRATING':VSKILL_SELFRATING,
                'VSKILL_SELFEXP':VSKILL_SELFEXP,
                'VSKILL_MGRRATING':VSKILL_MGRRATING,
                'VSKILL_MGREXP':VSKILL_MGREXP,
                'WSKILL_SELFRATING':WSKILL_SELFRATING,
                'WSKILL_SELFEXP':WSKILL_SELFEXP,
                'WSKILL_MGRRATING':WSKILL_MGRRATING,
                'WSKILL_MGREXP':WSKILL_MGREXP,
                'TEAM_SELFRATING':TEAM_SELFRATING,
                'TEAM_SELFEXP':TEAM_SELFEXP,
                'TEAM_MGRRATING':TEAM_MGRRATING,
                'TEAM_MGREXP':TEAM_MGREXP,
                'CONFIDENTIALITY_SELFRATING':CONFIDENTIALITY_SELFRATING,
                'CONFIDENTIALITY_SELFEXP':CONFIDENTIALITY_SELFEXP,
                'CONFIDENTIALITY_MGRRATING':CONFIDENTIALITY_MGRRATING,
                'CONFIDENTIALITY_MGREXP':CONFIDENTIALITY_MGREXP,
                'ATTENDANCE_SELFRATING':ATTENDANCE_SELFRATING,
                'ATTENDANCE_SELFEXP':ATTENDANCE_SELFEXP,
                'ATTENDANCE_MGRRATING':ATTENDANCE_MGRRATING,
                'ATTENDANCE_MGREXP':ATTENDANCE_MGREXP,
                'SECTION_SECOND_TOTALRATING':SECTION_SECOND_TOTALRATING
            };
            var ObjRating={'APPRAISAL_ID':APPRAISAL_ID,
                'SECTION_ONE_OVERALL_TOTALRATING':SECTION_ONE_OVERALL_TOTALRATING,
                'SECTION_2_OVERALL_TOTALRATING':SECTION_2_OVERALL_TOTALRATING,
                'SUBTOTAL':SUBTOTAL,
                'OVERALL_RATING':OVERALL_RATING
            };
            var ObjCommonAppraisal={
                'ObjResponsibility':ObjResponsibility,
                'ObjPerformance':ObjPerformance,
                'ObjRating':ObjRating
            };
            if (CURRENTROLL_SELFRATING !='' && CURRENTROLL_SELFEXP !='' && CURRENTROLL_MGRRATING !='' && CURRENTROLL_MGREXP !='' && QUALITYWORK_SELFRATING !='' && QUALITYWORK_SELFEXP !='' && QUALITYWORK_MGRRATING !='' && QUALITYWORK_MGREXP !='' && ORGWORK_SELFRATING !='' && ORGWORK_SELFEXP !='' && ORGWORK_MGRRATING !='' && ORGWORK_MGREXP !='' && INITIATE_SELFRATING !='' && INITIATE_SELFEXP !='' && INITIATE_MGRRATING !='' && INITIATE_MGREXP !='' && PERSONAL_SELFRATING !='' && PERSONAL_SELFEXP !='' && PERSONAL_MGRRATING !='' && PERSONAL_MGREXP !=''
                && VSKILL_SELFRATING !='' && VSKILL_SELFEXP !='' && VSKILL_MGRRATING !='' && VSKILL_MGREXP !='' && WSKILL_SELFRATING !='' && WSKILL_SELFEXP !='' && WSKILL_MGRRATING !='' && WSKILL_MGREXP!='' && TEAM_SELFRATING !='' && TEAM_SELFEXP !='' && TEAM_MGRRATING !='' && TEAM_MGREXP !='' && CONFIDENTIALITY_SELFRATING !='' && CONFIDENTIALITY_SELFEXP !='' && CONFIDENTIALITY_MGRRATING !=''
                && CONFIDENTIALITY_MGREXP !='' && ATTENDANCE_SELFRATING !='' && ATTENDANCE_SELFEXP !='' && ATTENDANCE_MGRRATING !='' && ATTENDANCE_MGREXP !='') {
                $.ajax({

                    type: 'POST',
                    url: '/Annual/CreateAnnualAppraisal/',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(ObjCommonAppraisal),
                    dataType: 'json',
                    success: function (data) {
                        var a = data.SuccessMsg;
                        var b = data.ErrorMsg;
                        if (data != null && a != null) {
                            alert(a);
                        }
                        else {
                            alert(b);
                        }
                        ClearText();
                    },
                    error: function (data) {

                    }
                });
            }           
            else if (CURRENTROLL_SELFRATING =="") {
                alert('Self Rating cannot be left blank in PROFICIENCY IN CURRENT ROLE.');                
                $("#txt_CURRENTROLL_SELFRATING").focus();
            }
            else if (CURRENTROLL_SELFEXP =="") {
                alert('Self Explanation cannot be left blank in PROFICIENCY IN CURRENT ROLE.');
                $("#txt_CURRENTROLL_SELFEXP").focus();
            }
            else if (CURRENTROLL_MGRRATING =="") {
                alert('Manager Rating cannot be left blank in PROFICIENCY IN CURRENT ROLE.');
                $("#txt_CURRENTROLL_MGRRATING").focus();
            }
            else if (CURRENTROLL_MGREXP =="") {
                alert('Manager Explanation cannot be left blank in PROFICIENCY IN CURRENT ROLE.');
                $("#txt_CURRENTROLL_MGREXP").focus();
            }
            else if (QUALITYWORK_SELFRATING =="") {
                alert('Self Rating cannot be left blank in QUALITY OF WORK.');
                $("#txt_QUALITYWORK_SELFRATING").focus();
            }
            else if (QUALITYWORK_SELFEXP =="") {
                alert('Self Explanation cannot be left blank in QUALITY OF WORK.');
                $("#txt_QUALITYWORK_SELFEXP").focus();
            }
            else if (QUALITYWORK_MGRRATING =="") {
                alert('Manager Rating cannot be left blank in QUALITY OF WORK.');
                $("#txt_QUALITYWORK_MGRRATING").focus();
            }
            else if (QUALITYWORK_MGREXP =="") {
                alert('Manager Explanation cannot be left blank in QUALITY OF WORK.');
                $("#txt_QUALITYWORK_MGREXP").focus();
            }
           else if (ORGWORK_SELFRATING =="") {
                alert('Self Rating cannot be left blank in Planning and Organization OF WORK.');
                $("#txt_ORGWORK_SELFRATING").focus();
           }
           else if (ORGWORK_SELFEXP =="") {
               alert('Self Explanation cannot be left blank in Planning and Organization OF WORK.');
               $("#txt_ORGWORK_SELFEXP").focus();
           }
           else if (ORGWORK_MGRRATING =="") {
               alert('Manager Rating cannot be left blank in Planning and Organization OF WORK.');
               $("#txt_ORGWORK_MGRRATING").focus();
           }
           else if (ORGWORK_MGREXP =="") {
               alert('Manager Explanation cannot be left blank in Planning and Organization OF WORK.');
               $("#txt_ORGWORK_MGREXP").focus();
           }
           else if (INITIATE_SELFRATING =="") {
               alert('Self Rating cannot be left blank in INITIATE.');
               $("#txt_INITIATE_SELFRATING").focus();
           }
           else if (INITIATE_SELFEXP =="") {
               alert('Self Explanation cannot be left blank in INITIATE.');
               $("#txt_INITIATE_SELFEXP").focus();
           }
           else if (INITIATE_MGRRATING =="") {
               alert('Manager Rating cannot be left blank in INITIATE.');
               $("#txt_INITIATE_MGRRATING").focus();
           }
           else if (INITIATE_MGREXP =="") {
               alert('Manager Explanation cannot be left blank in INITIATE.');
               $("#txt_INITIATE_MGREXP").focus();
           }
           else if (PERSONAL_SELFRATING =="") {
               alert('Self Rating cannot be left blank in INTERPERSONAL RELATIONS.');
               $("#txt_PERSONAL_SELFRATING").focus();
           }
           else if (PERSONAL_SELFEXP =="") {
               alert('Self Explanation cannot be left blank in INTERPERSONAL RELATIONS.');
               $("#txt_PERSONAL_SELFEXP").focus();
           }
           else if (PERSONAL_MGRRATING =="") {
               alert('Manager Rating cannot be left blank in INTERPERSONAL RELATIONS.');
               $("#txt_PERSONAL_MGRRATING").focus();

           }
           else if (PERSONAL_MGREXP =="") {
               alert('Manager Explanation cannot be left blank in INTERPERSONAL RELATIONS.');
               $("#txt_PERSONAL_MGREXP").focus();
           }
           else if (VSKILL_SELFRATING =="") {
               alert('Self Rating cannot be left blank in VERBAL & LISTENING SKILLS.');
               $("#txt_VSKILL_SELFRATING").focus();
           }
           else if (VSKILL_SELFEXP =="") {
               alert('Self Explanation cannot be left blank in VERBAL & LISTENING SKILLS.');
               $("#txt_VSKILL_SELFEXP").focus();
           }
            else if (VSKILL_MGRRATING =="") {
                alert('Manager Rating cannot be left blank in VERBAL & LISTENING SKILLS.');
                $("#txt_VSKILL_MGRRATING").focus();
            }
            else if (VSKILL_MGREXP =="") {
                alert('Manager Explanation cannot be left blank in VERBAL & LISTENING SKILLS.');
                $("#txt_VSKILL_MGREXP").focus();
            }
            else if (WSKILL_SELFRATING =="" ) {
                alert('Self Rating cannot be left blank in WRITING SKILLS.');
                $("#txt_WSKILL_SELFRATING").focus();
            }
            else if (WSKILL_SELFEXP =="" ) {
                alert('Self Explanation cannot be left blank in WRITING SKILLS.');
                $("#txt_WSKILL_SELFEXP").focus();
            }
            else if (WSKILL_MGRRATING =="") {
                alert('Manager Rating cannot be left blank in WRITING SKILLS.');
                $("#txt_WSKILL_MGRRATING").focus();
            }
            else if (WSKILL_MGREXP =="") {
                alert('Manager Explanation cannot be left blank in WRITING SKILLS.');
                $("#txt_WSKILL_MGRRATING").focus();
            }
            else if (TEAM_SELFRATING =="" ) {
                alert('Self Rating cannot be left blank in TEAM PARTICIPATION.');
                $("#txt_TEAM_SELFRATING").focus();
            }
            else if (TEAM_SELFEXP =="" ) {
                alert('Self Explanation cannot be left blank in TEAM PARTICIPATION.');
                $("#txt_TEAM_SELFEXP").focus();
            }
            else if (TEAM_MGRRATING =="" ) {
                alert('Manager Rating cannot be left blank in TEAM PARTICIPATION.');
                $("#txt_TEAM_MGRRATING").focus();
            }
            else if (TEAM_MGREXP =="") {
                alert('Manager Explanation cannot be left blank in TEAM PARTICIPATION.');
                $("#txt_TEAM_MGREXP").focus();
            }
            else if (CONFIDENTIALITY_SELFRATING =="") {
                alert('Self Rating cannot be left blank in DISCRETION AND CONFIDENTIALITY.');
                $("#txt_CONFIDENTIALITY_SELFRATING").focus();

            }
            else if (CONFIDENTIALITY_SELFEXP =="") {
                alert('Self Explanation cannot be left blank in DISCRETION AND CONFIDENTIALITY.');
                $("#txt_CONFIDENTIALITY_SELFEXP").focus();
            }
            else if (CONFIDENTIALITY_MGRRATING =='') {
                alert('Manager Rating cannot be left blank in DISCRETION AND CONFIDENTIALITY.');
                $("#txt_CONFIDENTIALITY_MGRRATING").focus();
            }
            else if (CONFIDENTIALITY_MGREXP =="") {
                alert('Manager Explanation cannot be left blank in DISCRETION AND CONFIDENTIALITY.');
                $("#txt_CONFIDENTIALITY_MGREXP").focus();
            }
            else if ( ATTENDANCE_SELFRATING =="") {
                alert('Self Rating cannot be left blank in PUNCTUALITY AND ATTENDANCE.');
                $("#txt_ATTENDANCE_SELFRATING").focus();
            }
            else if (ATTENDANCE_SELFEXP =="" ) {
                alert('Self Explanation cannot be left blank in PUNCTUALITY AND ATTENDANCE.');
                $("#txt_ATTENDANCE_SELFEXP").focus();
            }
            else if (ATTENDANCE_MGRRATING =="") {
                alert('Manager Rating cannot be left blank in PUNCTUALITY AND ATTENDANCE.');
                $("#txt_ATTENDANCE_MGRRATING").focus();
            }
            else if (ATTENDANCE_MGREXP =="") {
                alert('Manager Explanation cannot be left blank in PUNCTUALITY AND ATTENDANCE.');
                $("#txt_ATTENDANCE_MGREXP").focus();
            }
        });
    });
    function ClearText() {
        $(':input').each(function(){
            $(this).val("");
        });
    }
    function CancelOnClick() {
        window.location.href = "/Home/Dashboard";
    }
    function isNumberKey(evt)
    {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
        {
            return false;
        }
        else {
            return true;
        }
    }
    function AvgCalculate()
    {
        var total =0;
        var subtotal =0;
        var overallRating =0;
        var Avg =0;
        var FINAL_RATING=parseFloat($("#txt_FinalRating").val());
        var CURRENTROLL_MGRRATING =parseInt($("#txt_CURRENTROLL_MGRRATING").val());
        var QUALITYWORK_MGRRATING =parseInt($("#txt_QUALITYWORK_MGRRATING").val());
        var ORGWORK_MGRRATING =parseInt($("#txt_ORGWORK_MGRRATING").val());
        var INITIATE_MGRRATING =parseInt($("#txt_INITIATE_MGRRATING").val());
        var PERSONAL_MGRRATING =parseInt($("#txt_PERSONAL_MGRRATING").val());
        var VSKILL_MGRRATING =parseInt($("#txt_VSKILL_MGRRATING").val());
        var WSKILL_MGRRATING =parseInt($("#txt_WSKILL_MGRRATING").val());
        var TEAM_MGRRATING =parseInt($("#txt_TEAM_MGRRATING").val());
        var CONFIDENTIALITY_MGRRATING =parseInt($("#txt_CONFIDENTIALITY_MGRRATING").val());
        var ATTENDANCE_MGRRATING =parseInt($("#txt_ATTENDANCE_MGRRATING").val());
        total =CURRENTROLL_MGRRATING + QUALITYWORK_MGRRATING + ORGWORK_MGRRATING + INITIATE_MGRRATING + PERSONAL_MGRRATING + VSKILL_MGRRATING + WSKILL_MGRRATING + TEAM_MGRRATING + CONFIDENTIALITY_MGRRATING + ATTENDANCE_MGRRATING;
        if ($.isNumeric(total)) {
            Avg =parseFloat(total/10);
        }
        subtotal =parseFloat((FINAL_RATING + Avg));
        overallRating =parseFloat(subtotal/2);
        $("#txt_SECTION_SECOND_TOTALRATING").val(Avg);
        $("#txt_SECTION_ONE_OVERALL_TOTALRATING").val(FINAL_RATING);
        $("#txt_SECTION_2_OVERALL_TOTALRATING").val(Avg);
        $("#txt_SUBTOTAL").val(subtotal);
        $("#txt_OVERALL_RATING").val(overallRating);
    }
</script>
<div class="row">
    <div class="panel">
        <div class="panel-heading" style="background-color:#00bff9;"><h4 align="left" style="font-size:15px;">Annual Appraisal Form</h4></div>
        <div class="panel-body">
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Name:<span class="required">*</span></label>
                            <input type="text" class="form-control" id="txt_EmpName" value="@item.NAME" readonly="readonly" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Manager Name:<span class="required">*</span></label>
                            <input type="text" class="form-control" id="txt_ManagerName" value="@item.MANAGER_NAME" readonly="readonly" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Position Title:</label>
                            <input type="text" class="form-control" id="txt_PositionTitle" value="@item.DESIGNATION" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Date of Review:</label>
                            <div class="cal-icon">
                                <input class="form-control" placeholder="dd-mmm-yyyy" type="text" id="txt_ReviewDate" value="@item.CURRENT_DATE" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>From Date:</label>
                            <div class="cal-icon">
                                <input class="form-control mycal" placeholder="dd-mmm-yyyy" type="text" id="txt_FromDate" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>To Date:</label>
                            <div class="cal-icon">
                                <input class="form-control mycal" placeholder="dd-mmm-yyyy" type="text" id="txt_ToDate" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Department:</label>
                            <input type="text" class="form-control" id="txt_Department" value="@item.DEPARTMENT" readonly="readonly" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Key Responsibility:</label>
                            <input type="text" class="form-control" id="txt_KeyResponsibility" value="@item.GOAL_QUARTER" readonly="readonly" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Final Rating:</label>
                            <input type="text" class="form-control" id="txt_FinalRating" value="@item.FINAL_RATING" readonly="readonly" />
                        </div>
                    </div>
                </div>
            }            
        </div>
    </div>
</div>
<div class="row">
    <ul id="tabs">
        <li><a href="#" name="tab1">Performance Factors</a></li>
        <li><a href="#" name="tab2" id="btnOverAllRating">Overall Performance Rating</a></li>
        @*<li><a href="#" name="tab3">Organization Aspects</a></li>
            <li><a href="#" name="tab4">Supervisor</a></li>
            <li><a href="#" name="tab5">Another job/Expectation</a></li>*@

    </ul>
    <div id="content" style="height: 1250px; color:silver">
        <div id="tab1">
            <div class="panel">
                <div class="panel-heading" style="background-color:#00bff9;"><h4 align="left" style="font-size:15px;"></h4></div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width:10px">1</th>
                                <th style="width:550px; height:40px;"><span class="badge badge-primary"><mark>PERFORMANCE FACTORS</mark> </span> </th>
                                <th scope="col" style="text-align:center"><span class="badge badge-primary"><mark>Self Rating</mark></span></th>
                                <th scope="col" style="text-align:center"><span class="badge badge-primary"><mark>Explanation</mark></span></th>
                                <th scope="col" style="text-align:center"><span class="badge badge-primary"><mark>Manager Rating</mark></span></th>
                                <th scope="col" style="text-align:center"><span class="badge badge-primary"><mark>Explanation</mark></span></th>
                            </tr>
                        </thead>
                    </table>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td style="height:40px;" class="d-flex flex-row bg-secondary"></td>
                                <td>
                                    <span class="badge badge-primary"><mark>PROFICIENCY IN CURRENT ROLE:</mark></span> <br />
                                    <ul>
                                        <li>Demonstrates knowledge of position and/or team role.</li>
                                        <li>Understands how position and responsibilities fit within the organization and contribute to department results.</li>
                                    </ul>
                                </td>
                                <td style="width:51px"><input type="text" class="form-control" id="txt_CURRENTROLL_SELFRATING" onkeypress="return isNumberKey(event);" maxlength="1"/></td>
                                <td style="width:170px"><textarea class="form-control" id="txt_CURRENTROLL_SELFEXP" style="height:40px; padding:0px;"></textarea></td>
                                <td style="width:51px"><input type="text" class="form-control" id="txt_CURRENTROLL_MGRRATING" onkeypress="return isNumberKey(event);" maxlength="1"/></td>
                                <td style="width:170px"><textarea class="form-control" id="txt_CURRENTROLL_MGREXP" style="height:40px;padding:0px;"></textarea></td>

                            </tr>
                            <tr>
                                <td style="height:40px;" class="d-flex flex-row bg-secondary"></td>
                                <td>
                                    <span class="badge badge-primary"><mark>QUALITY OF WORK:</mark></span><br />
                                    <ul>
                                        <li>Maintains standards consistently. Is consistent in achieving accuracy, neatness,thoroughness, overall effectiveness and attentiveness to detail.</li>
                                    </ul>
                                </td>
                                <td style="width:51px"><input type="text" class="form-control" id="txt_QUALITYWORK_SELFRATING" onkeypress="return isNumberKey(event);" maxlength="1"/></td>
                                <td style="width:170px"><textarea class="form-control" id="txt_QUALITYWORK_SELFEXP" style="height:40px; padding:0px;"></textarea> </td>
                                <td style="width:51px"><input type="text" class="form-control" id="txt_QUALITYWORK_MGRRATING" onkeypress="return isNumberKey(event);" maxlength="1"/></td>
                                <td style="width:170px"><textarea class="form-control" id="txt_QUALITYWORK_MGREXP" style="height:40px; padding:0px;"></textarea> </td>

                            </tr>
                            <tr>
                                <td style="height:40px;" class="d-flex flex-row bg-secondary"></td>
                                <td>
                                    <span class="badge badge-primary"><mark>PLANNING AND ORGANIZATION OF WORK:</mark></span><br />
                                    <ul>
                                        <li>Establishes priorities. Anticipates and prepares for changing workload or working conditions.</li>
                                        <li>Coordinates and uses available resources to get work done to assure important deadlines are met.</li>
                                    </ul>
                                </td>
                                <td style="width:51px"><input type="text" class="form-control" id="txt_ORGWORK_SELFRATING" onkeypress="return isNumberKey(event);" maxlength="1" /></td>
                                <td style="width:170px"><textarea class="form-control" id="txt_ORGWORK_SELFEXP" style="height:40px; padding:0px;"></textarea> </td>
                                <td style="width:51px"><input type="text" class="form-control" id="txt_ORGWORK_MGRRATING" onkeypress="return isNumberKey(event);" maxlength="1"/></td>
                                <td style="width:170px"><textarea class="form-control" id="txt_ORGWORK_MGREXP" style="height:40px; padding:0px;"></textarea> </td>
                            </tr>
                            <tr>
                                <td style="height:40px;" class="d-flex flex-row bg-secondary"></td>
                                <td>
                                    <span class="badge badge-primary"><mark>INITIATIVE:</mark></span><br />
                                    <ul>
                                        <li>Shows ability to work independently in context of the job.</li>
                                        <li>Demonstrates willingness to assume additional responsibility.</li>
                                        <li>Suggests ways to enhance work processes or operations.</li>
                                    </ul>
                                </td>
                                <td style="width:51px"><input type="text" class="form-control" id="txt_INITIATE_SELFRATING" onkeypress="return isNumberKey(event);" maxlength="1"/></td>
                                <td style="width:170px"><textarea class="form-control" id="txt_INITIATE_SELFEXP" style="height:40px; padding:0px;"></textarea> </td>
                                <td style="width:51px"><input type="text" class="form-control" id="txt_INITIATE_MGRRATING" onkeypress="return isNumberKey(event);" maxlength="1"/></td>
                                <td style="width:170px"><textarea class="form-control" id="txt_INITIATE_MGREXP" style="height:40px; padding:0px;"></textarea> </td>
                            </tr>
                            <tr>
                                <td style="height:40px;" class="d-flex flex-row bg-secondary"></td>
                                <td>
                                    <span class="badge badge-primary"><mark>INTERPERSONAL RELATIONS:</mark></span><br />
                                    <ul>
                                        <li>Maintains positive working relationships.</li>
                                        <li>Is flexible and willing to cooperate with others.</li>
                                        <li>Demonstrates ability to listen and understand.</li>
                                    </ul>
                                </td>
                                <td style="width:51px"><input type="text" class="form-control" id="txt_PERSONAL_SELFRATING" onkeypress="return isNumberKey(event);" maxlength="1"/></td>
                                <td style="width:170px"><textarea class="form-control" id="txt_PERSONAL_SELFEXP" style="height:40px; padding:0px;"></textarea> </td>
                                <td style="width:51px"><input type="text" class="form-control" id="txt_PERSONAL_MGRRATING" onkeypress="return isNumberKey(event);" maxlength="1"/></td>
                                <td style="width:170px"><textarea class="form-control" id="txt_PERSONAL_MGREXP" style="height:40px; padding:0px;"></textarea> </td>
                            </tr>
                            <tr>
                                <td style="height:40px;" class="d-flex flex-row bg-secondary"></td>
                                <td>
                                    <span class="badge badge-primary"><mark>VERBAL & LISTENING SKILLS:</mark></span><br />
                                    <ul>
                                        <li>Expresses self well verbally, using language appropriate for the intended audience.</li>
                                        <li>Listens actively and acknowledges understanding.</li>
                                    </ul>
                                </td>
                                <td style="width:51px"><input type="text" class="form-control" id="txt_VSKILL_SELFRATING" onkeypress="return isNumberKey(event);" maxlength="1"/></td>
                                <td style="width:170px"><textarea class="form-control" id="txt_VSKILL_SELFEXP" style="height:40px; padding:0px;"></textarea> </td>
                                <td style="width:51px"><input type="text" class="form-control" id="txt_VSKILL_MGRRATING" onkeypress="return isNumberKey(event);" maxlength="1"/></td>
                                <td style="width:170px"><textarea class="form-control" id="txt_VSKILL_MGREXP" style="height:40px; padding:0px;"></textarea> </td>
                            </tr>
                            <tr>
                                <td style="height:40px;" class="d-flex flex-row bg-secondary"></td>
                                <td>
                                    <span class="badge badge-primary"><mark>WRITING SKILLS:</mark></span><br />
                                    <ul>
                                        <li>Presents ideas clearly in written format, using appropriate language, grammar and style.</li>
                                    </ul>
                                </td>
                                <td style="width:51px"><input type="text" class="form-control" id="txt_WSKILL_SELFRATING" onkeypress="return isNumberKey(event);" maxlength="1"/></td>
                                <td style="width:170px"><textarea class="form-control" id="txt_WSKILL_SELFEXP" style="height:40px; padding:0px;"></textarea> </td>
                                <td style="width:51px"><input type="text" class="form-control" id="txt_WSKILL_MGRRATING" onkeypress="return isNumberKey(event);" maxlength="1"/></td>
                                <td style="width:170px"><textarea class="form-control" id="txt_WSKILL_MGREXP" style="height:40px; padding:0px;"></textarea> </td>
                            </tr>
                            <tr>
                                <td style="height:40px;" class="d-flex flex-row bg-secondary"></td>
                                <td>
                                    <span class="badge badge-primary"><mark>TEAM PARTICIPATION:</mark></span><br />
                                    <ul>
                                        <li>Proactively builds partnerships and seeks involvement with other constituencies/employees.</li>
                                        <li>Works cooperatively and effectively with team members.</li>
                                        <li>Demonstrates clear understanding of team goals and contributes to their achievement.</li>
                                    </ul>
                                </td>
                                <td style="width:51px"><input type="text" class="form-control" id="txt_TEAM_SELFRATING" onkeypress="return isNumberKey(event);" maxlength="1"/></td>
                                <td style="width:170px"><textarea class="form-control" id="txt_TEAM_SELFEXP" style="height:40px; padding:0px;"></textarea> </td>
                                <td style="width:51px"><input type="text" class="form-control" id="txt_TEAM_MGRRATING" onkeypress="return isNumberKey(event);" maxlength="1"/></td>
                                <td style="width:170px"><textarea class="form-control" id="txt_TEAM_MGREXP" style="height:40px; padding:0px;"></textarea> </td>
                            </tr>
                            <tr>
                                <td style="height:40px;" class="d-flex flex-row bg-secondary"></td>
                                <td>
                                    <span class="badge badge-primary"><mark>DISCRETION AND CONFIDENTIALITY:</mark></span><br />
                                    <ul>
                                        <li>Knows what FIT information or materials are sensitive and why.</li>
                                        <li>Demonstrates ability to maintain sensitive information in confidence, sharing only with appropriate contacts.</li>
                                    </ul>
                                </td>
                                <td style="width:51px"><input type="text" class="form-control" id="txt_CONFIDENTIALITY_SELFRATING" onkeypress="return isNumberKey(event);" maxlength="1"/></td>
                                <td style="width:170px"><textarea class="form-control" id="txt_CONFIDENTIALITY_SELFEXP" style="height:40px; padding:0px;"></textarea> </td>
                                <td style="width:51px"><input type="text" class="form-control" id="txt_CONFIDENTIALITY_MGRRATING" onkeypress="return isNumberKey(event);" maxlength="1"/></td>
                                <td style="width:170px"><textarea class="form-control" id="txt_CONFIDENTIALITY_MGREXP" style="height:40px; padding:0px;"></textarea> </td>
                            </tr>
                            <tr>
                                <td style="height:40px;" class="d-flex flex-row bg-secondary"></td>
                                <td>
                                    <span class="badge badge-primary"><mark>PUNCTUALITY AND ATTENDANCE:</mark></span><br />
                                    <ul>
                                        <li>Arrives and is ready to begin working at scheduled time.</li>
                                        <li>Maintains acceptable record of attendance.</li>
                                    </ul>                                    
                                </td>
                                <td style="width:51px"><input type="text" class="form-control" id="txt_ATTENDANCE_SELFRATING" onkeypress="return isNumberKey(event);"maxlength="1"/></td>
                                <td style="width:170px"><textarea class="form-control" id="txt_ATTENDANCE_SELFEXP" style="height:40px; padding:0px;"></textarea> </td>
                                <td style="width:51px"><input type="text" class="form-control" id="txt_ATTENDANCE_MGRRATING" onkeypress="return isNumberKey(event);"maxlength="1"/></td>
                                <td style="width:170px"><textarea class="form-control" id="txt_ATTENDANCE_MGREXP" style="height:40px; padding:0px;"></textarea> </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label><mark>Section II Total Rating:</mark><span class="required">*</span></label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                @*<label>Manager Name:<span class="required">*</span></label>
                                    <input type="text" class="form-control" id="txt_ManagerName" readonly="readonly" />*@
                                <input type="text" class="form-control" id="txt_SECTION_SECOND_TOTALRATING" style="margin-left:-10px;" onkeypress="return isNumberKey(event);" onclick="AvgCalculate();"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab2">
            <div class="panel">
                <div class="panel-heading" style="background-color:#00bff9;"><h4 align="left" style="font-size:15px;"></h4></div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="2" style="width:37px">2</th>
                                <th colspan="6" rowspan="2"></th>
                                <th style="width:461px; text-align:center"><span class="badge badge-primary"><mark>Total Rating</mark> </span></th>
                            </tr>
                        </thead>
                    </table>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td></td>
                                <td><span class="badge badge-primary"><mark>Section I: Key Responsibilities</mark></span></td>
                                <td><input type="text" class="form-control" id="txt_SECTION_ONE_OVERALL_TOTALRATING" onkeypress="return isNumberKey(event);"/></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><span class="badge badge-primary"><mark>Section II: Performance Factors</mark></span></td>
                                <td><input type="text" class="form-control" id="txt_SECTION_2_OVERALL_TOTALRATING" onkeypress="return isNumberKey(event);"/></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><span class="badge badge-primary"><mark>SUBTOTAL:</mark></span></td>
                                <td><input type="text" class="form-control" id="txt_SUBTOTAL" onkeypress="return isNumberKey(event);"/></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><span class="badge badge-primary"><mark>OVERALL RATING:</mark></span></td>
                                <td><input type="text" class="form-control" id="txt_OVERALL_RATING" onkeypress="return isNumberKey(event);"/></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">

            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-toggle" data-toggle="buttons">
                @*onclick="ClearText()"*@
                <button type="button" class="btn btn-primary" id="btn_Submit">Submit</button>
                <button type="button" class="btn btn-primary" id="btnReset" onclick="ClearText()">Reset</button>
                <button type="button" class="btn btn-primary" onclick="CancelOnClick()">Cancel</button>
                <input type="hidden" id="hdn_Appraisal_id" value="@ViewBag.Exit_idType" />
            </div>
        </div>
    </div>

</div>
<a id="back2Top" title="Back to top" href="#">&#10148;</a>
<style type="text/css" lang="en">
    #back2Top {
        width: 40px;
        line-height: 40px;
        overflow: hidden;
        z-index: 999;
        display: none;
        cursor: pointer;
        -moz-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
        position: fixed;
        bottom: 50px;
        right: 0;
        background-color: #DDD;
        color: #555;
        text-align: center;
        font-size: 30px;
        text-decoration: none;
    }

        #back2Top:hover {
            background-color: #DDF;
            color: #000;
        }
</style>
<script type="text/javascript" lang="en">
    $(window).scroll(function () {
        var height = $(window).scrollTop();
        if (height > 100) {
            $('#back2Top').fadeIn();
        } else {
            $('#back2Top').fadeOut();
        }
    });
    $(document).ready(function () {
        $("#back2Top").click(function (event) {
            event.preventDefault();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        });
    });
</script>

