@model IEnumerable<OTS.Models.TranExitFormModel>
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style type="text/css">
    .required {
        color: red;
    }

    .myclass {
        text-transform: capitalize;
    }
    #exTab1 .nav-pills > li > a {
  border-radius: 0;
}
    #exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#txt_EmployerName").on('keyup',function(){
            var str = $('#txt_EmployerName').val();
            var spart = str.split(" ");
            for (var i = 0; i < spart.length; i++) {
                var j = spart[i].charAt(0).toUpperCase();
                spart[i] = j + spart[i].substr(1);
            }
            $('#txt_EmployerName').val(spart.join(" "));
        });
        isRange();
        $("#btn_Submit").on('click', function () {
            if ($('input:checked').length < 1) {
                event.preventDefault();
                alert('Please check at least one check box');
                setTimeout(function(){$("#chk_ytw").prop("checked",true);});
                return false;
            }
            var New_Employer =$('#txt_EmployerName').val();
            var Location =$('#txt_Location').val();
            var Position =$('#txt_Position').val();
            var WorkNature =$('#txt_WorkNature').val();
            var SalaryPosition =$('#txt_SalaryPosition').val();
            var OrgOffer =$('#txt_OrgOffer').val();

            var PERFORMANCE_FEEDBACK =$('#txt_PERFORMANCE_FEEDBACK').val();
            var RECOGNISED_ACCOMP =$('#txt_RECOGNISED_ACCOMP').val();
            var COMMUNICATED_EXPECT =$('#txt_COMMUNICATED_EXPECT').val();
            var Treated =$('#txt_Treated').val();
            var Trained =$('#txt_Trained').val();
            var Leadership =$('#txt_Leadership').val();
            var ENCOURAGED =$('#txt_ENCOURAGED').val();
            var CONCERNS =$('#txt_CONCERNS').val();
            var SUGGESTIONS =$('#txt_SUGGESTIONS').val();
            var KEPT_INFORMED =$('#txt_KEPT_INFORMED').val();
            var WORK_LIFE_BALANCE =$('#txt_WORK_LIFE_BALANCE').val();
            var ASSIGNMENT =$('#txt_ASSIGNMENT').val();

            var RECRUITMENT_PROCESS =$('#txt_RECRUITMENT_PROCESS').val();
            var EMPLOYEE_ORIENTATION =$('#txt_EMPLOYEE_ORIENTATION').val();
            var TRAINING_OPPORTUNITIES =$('#txt_TRAINING_OPPORTUNITIES').val();
            var CAREER_DEVELOPMENT =$('#txt_CAREER_DEVELOPMENT').val();
            var EMPLOYEE_MORALE =$('#txt_EMPLOYEE_MORALE').val();
            var FAIR_TREAT_EMPLOYEE =$('#txt_FAIR_TREAT_EMPLOYEE').val();
            var RECOGNITION_FOR_JOB =$('#txt_RECOGNITION_FOR_JOB').val();
            var SUPPORT_FOR_WORK=$('#txt_SUPPORT_FOR_WORK').val();
            var CORPRATION =$('#txt_CORPRATION').val();
            var COMMUNICATION =$('#txt_COMMUNICATION').val();
            var PERFORMANCE =$('#txt_PERFORMANCE').val();
            var INTEREST =$('#txt_INTEREST').val();
            var COMMITMENT =$('#txt_COMMITMENT').val();
            var CONCERN =$('#txt_CONCERN').val();
            var ADMINISTRATIVE =$('#txt_ADMINISTRATIVE').val();

            var TYPE_OF_WORK =$('#txt_TYPE_OF_WORK').val();
            var FAIRNESS_OF_WORKLOAD =$('#txt_FAIRNESS_OF_WORKLOAD').val();
            var SALARY =$('#txt_SALARY').val();
            var WORKING_CONDTIONS =$('#txt_WORKING_CONDTIONS').val();
            var TOOLS_PROVIDED =$('#txt_TOOLS_PROVIDED').val();
            var TRAINING_RECEIVED =$('#txt_TRAINING_RECEIVED').val();
            var CO_WORKKERS =$('#txt_CO_WORKKERS').val();
            var SUPERVISION_RECEIVED =$('#txt_SUPERVISION_RECEIVED').val();
            var LEVEL_OF_iNPUT =$('#txt_LEVEL_OF_iNPUT').val();

            var Emp_id = @Session["EMP_ID"];
            var Exit_id =$("#hdn_Exit_id").val();
            var p_reason = $('#txt_Reasion').val();
            var SEPERATION_DATE =$("#txt_Separation").val();
            var JOB_EXPACTATIONS =$("#txt_expectation").val();

            var ObjTranExitModel = {
                'EMP_ID': Emp_id,
                'P_REASON': p_reason,
                'SEPERATION_DATE':SEPERATION_DATE,
                'JOB_EXPACTATIONS':JOB_EXPACTATIONS

            };
            var ObjDissatisfaction={'Exit_id':Exit_id,
                'WORK_TYPE':$("#chk_ytw").is(":checked")==true?1:0,
                'WORK_COND':$("#chk_ywc").is(":checked")==true?1:0,
                'PAY':$("#chk_yp").is(":checked")==true?1:0,
                'SUPERVISOR':$("#chk_ys").is(":checked")==true?1:0,
                'LOCATION':$("#chk_yl").is(":checked")==true?1:0,
                'COST_LIVING':$("#chk_ya").is(":checked")==true?1:0,
                'COMMUTE':$("#chk_yc").is(":checked")==true?1:0
            };
            var ObjAnotherJob={'Exit_id':Exit_id,
                'NEW_EMPLOYER':New_Employer,
                'LOCATION':Location,
                'POSITION':Position,
                'WORK_NATURE':WorkNature,
                'SALARY_OF_POSITION':SalaryPosition,
                'ORGANIZATION_OFFER':OrgOffer
            };
            var objSupervisor ={
                'Exit_id':Exit_id,
                'PERFORMANCE_FEEDBACK': PERFORMANCE_FEEDBACK,
                'RECOGNISED_ACCOMP': RECOGNISED_ACCOMP,
                'COMMUNICATED_EXPECT': COMMUNICATED_EXPECT,
                'Treated': Treated,
                'Trained': Trained,
                'Leadership': Leadership,
                'ENCOURAGED': ENCOURAGED,
                'CONCERNS': CONCERNS,
                'SUGGESTIONS': SUGGESTIONS,
                'KEPT_INFORMED': KEPT_INFORMED,
                'WORK_LIFE_BALANCE': WORK_LIFE_BALANCE,
                'ASSIGNMENT': ASSIGNMENT
            };
            var objOrganization={
                'Exit_id':Exit_id,
                'RECRUITMENT_PROCESS':RECRUITMENT_PROCESS,
                'EMPLOYEE_ORIENTATION':EMPLOYEE_ORIENTATION,
                'TRAINING_OPPORTUNITIES':TRAINING_OPPORTUNITIES,
                'CAREER_DEVELOPMENT':CAREER_DEVELOPMENT,
                'EMPLOYEE_MORALE':EMPLOYEE_MORALE,
                'FAIR_TREAT_EMPLOYEE':FAIR_TREAT_EMPLOYEE,
                'RECOGNITION_FOR_JOB':RECOGNITION_FOR_JOB,
                'SUPPORT_FOR_WORK':SUPPORT_FOR_WORK,
                'CORPRATION':CORPRATION,
                'COMMUNICATION':COMMUNICATION,
                'PERFORMANCE':PERFORMANCE,
                'INTEREST':INTEREST,
                'COMMITMENT':COMMITMENT,
                'CONCERN':CONCERN,
                'ADMINISTRATIVE':ADMINISTRATIVE

            };
            var objJobAspect ={
                'Exit_id':Exit_id,
                'TYPE_OF_WORK':TYPE_OF_WORK,
                'FAIRNESS_OF_WORKLOAD':FAIRNESS_OF_WORKLOAD,
                'SALARY':SALARY,
                'WORKING_CONDTIONS':WORKING_CONDTIONS,
                'TOOLS_PROVIDED':TOOLS_PROVIDED,
                'TRAINING_RECEIVED':TRAINING_RECEIVED,
                'CO_WORKKERS':CO_WORKKERS,
                'SUPERVISION_RECEIVED':SUPERVISION_RECEIVED,
                'LEVEL_OF_iNPUT':LEVEL_OF_iNPUT
            };
            var commonTranExit ={
                'ObjTranExitModel':ObjTranExitModel,
                'ObjDissatisfaction':ObjDissatisfaction,
                'ObjAnotherJob':ObjAnotherJob,
                'objSupervisor':objSupervisor,
                'objOrganization':objOrganization,
                'objJobAspect':objJobAspect
            }
            if (p_reason !='' && New_Employer !='' && Location !='' && Position !='' && WorkNature !='' && SalaryPosition !='' && OrgOffer !='' && PERFORMANCE_FEEDBACK !='' && RECOGNISED_ACCOMP !='' && COMMUNICATED_EXPECT !='' && Treated !='' && Trained !='' && Leadership !='' && ENCOURAGED !='' && CONCERNS !='' && SUGGESTIONS !='' && KEPT_INFORMED !='' && WORK_LIFE_BALANCE !='' && ASSIGNMENT !=''
                && RECRUITMENT_PROCESS !='' && EMPLOYEE_ORIENTATION !='' && TRAINING_OPPORTUNITIES !='' && CAREER_DEVELOPMENT !='' && EMPLOYEE_MORALE !='' && FAIR_TREAT_EMPLOYEE !='' && RECOGNITION_FOR_JOB !='' && SUPPORT_FOR_WORK!='' && CORPRATION !='' && COMMUNICATION !='' && PERFORMANCE !='' && INTEREST !='' && COMMITMENT !='' && CONCERN !='' && ADMINISTRATIVE !=''
                && TYPE_OF_WORK !='' && FAIRNESS_OF_WORKLOAD !='' && SALARY !='' && WORKING_CONDTIONS !='' && TOOLS_PROVIDED !='' && TRAINING_RECEIVED !='' && CO_WORKKERS !='' && SUPERVISION_RECEIVED !='' && LEVEL_OF_iNPUT !='' && JOB_EXPACTATIONS !='') {
                $.ajax({

                    type: 'POST',
                    url: '/TranExit/CreateTranExit/',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(commonTranExit),
                    dataType: 'json',
                    success: function (data) {
                        var a = data.SuccessMsg;
                        var b = data.ErrorMsg;
                        if (data != null && a != null) {
                            alert(a);
                        }
                        else {
                            alert(b);
                        }
                        ClearText();
                    },
                    error: function (data) {

                    }
                });
            }
            else if (p_reason =="") {
                alert('Reason field can not be left blank');
                $('#txt_Reasion').focus();                    
            }
            else if (New_Employer =="") {
                alert('Employee name can not be left blank');
                $("#txt_EmployerName").focus();
            }
            else if (Location =="") {
                alert('Location can not be left blank');
                $("#txt_Location").focus();
            }
            else if (Position =="") {
                alert('Position can not be left blank');
                $("#txt_Position").focus();
            }
            else if (WorkNature =="") {
                alert('Work nature can not be left blank');
                $("#txt_WorkNature").focus();
            }
            else if (SalaryPosition =="") {
                alert('Salary position can not be left blank');
                $("#txt_SalaryPosition").focus();
            }
            else if (OrgOffer =="") {alert('Organization offer can not be left blank');
                $("#txt_OrgOffer").focus();
            }
            else if (PERFORMANCE_FEEDBACK =="") {alert('Performance feedback is required.');
                $("#txt_PERFORMANCE_FEEDBACK").focus();
            }
            else if (RECOGNISED_ACCOMP =="") {alert('Recognized accomplishment is required.');
                $("#txt_RECOGNISED_ACCOMP").focus();
            }
            else if (COMMUNICATED_EXPECT =="") {alert('Communicated expectation is required.');
                $("#txt_COMMUNICATED_EXPECT").focus();
            }
            else if (Treated =="") {alert('Treated you fairly and respectfully is required.');
                $("#txt_Treated").focus();
            }
           else if (Trained =="") {alert('Coached, trained, developed is required.');
                $("#txt_Trained").focus();
           }
            else if (Leadership =="") {alert('Leadership is required.');
                $("#txt_Leadership").focus();
            }
            else if (ENCOURAGED =="") {alert('Teamwork and cooperation is required.');
                $("#txt_ENCOURAGED").focus();
            }
            else if (CONCERNS =="") {alert('Concern is required.');
                $("#txt_CONCERNS").focus();
            }
            else if (SUGGESTIONS =="") {alert('Suggestion and feedback is required.');
                $("#txt_SUGGESTIONS").focus();
            }
            else if (KEPT_INFORMED =="") {alert('Employee information is required.');
                $("#txt_KEPT_INFORMED").focus();
            }
            else if (WORK_LIFE_BALANCE =="") {alert('Work-life is required.');
                $("#txt_WORK_LIFE_BALANCE").focus();
            }
            else if (ASSIGNMENT =="") { alert('Appropriate and challenging assignment is required.');
                $("#txt_ASSIGNMENT").focus();
            }
            else if (RECRUITMENT_PROCESS =="") {  alert('Requirement process is required.');
                $("#txt_RECRUITMENT_PROCESS").focus();
            }
            else if (EMPLOYEE_ORIENTATION =="") {alert('New employee orientation is required.');
                $("#txt_EMPLOYEE_ORIENTATION").focus();
            }
            else if (TRAINING_OPPORTUNITIES =="") { alert('Training opportunity is required.');
                $("#txt_TRAINING_OPPORTUNITIES").focus();
            }
            else if (CAREER_DEVELOPMENT =="") {alert('Career developement opportunity is required.');
                $("#txt_CAREER_DEVELOPMENT").focus();
            }
            else if (EMPLOYEE_MORALE =="") { alert('Employee moral is required.');
                $("#txt_EMPLOYEE_MORALE").focus();
            }
            else if (FAIR_TREAT_EMPLOYEE =="") {alert('Fair treatment  is required.');
                $("#txt_FAIR_TREAT_EMPLOYEE").focus();
            }
            else if (RECOGNITION_FOR_JOB =="") {alert('Recognition for a job  is required.');
                $("#txt_RECOGNITION_FOR_JOB").focus();
            }
            else if (SUPPORT_FOR_WORK =="") {alert('Supported for work-life  is required.');
                $("#txt_SUPPORT_FOR_WORK").focus();
            }
            else if (CORPRATION =="") {alert('Cooperation is required.');
                $("#txt_CORPRATION").focus();
            }
            else if (COMMUNICATION =="") { alert('Good communication is required.');
                $("#txt_COMMUNICATION").focus();
            }
            else if (PERFORMANCE =="") {alert('Performance,Development and evaluation is required.');
                $("#txt_PERFORMANCE").focus();
            }
            else if (INTEREST =="") {alert('Employee interest and investment is required.');
                $("#txt_INTEREST").focus();
            }
            else if (COMMITMENT =="") {alert('Commitment to customer service is required.');
                $("#txt_COMMITMENT").focus();
            }
            else if (CONCERN =="") {alert('Concern with quality and excellence is required.');
                $("#txt_CONCERN").focus();
            }
            else if (ADMINISTRATIVE =="") {alert('Administrative polices/procedures is required.');
                $("#txt_ADMINISTRATIVE").focus();
            }
            else if (TYPE_OF_WORK =="") {  alert('Type of work performed is required.');
                $("#txt_TYPE_OF_WORK").focus();
            }
            else if (FAIRNESS_OF_WORKLOAD =="") {alert('Fairness of workload is required.');
                $("#txt_FAIRNESS_OF_WORKLOAD").focus();
            }
            else if (SALARY =="") { alert('Salary is required.');
                $("#txt_SALARY").focus();
            }
            else if (WORKING_CONDTIONS =="") {alert('Working condition is required.');
                $("#txt_WORKING_CONDTIONS").focus();
            }
            else if (TOOLS_PROVIDED =="") {alert('Tools and equipment is required.');
                $("#txt_TOOLS_PROVIDED").focus();
            }
            else if (TRAINING_RECEIVED =="") {alert('Training received is required.');
                $("#txt_TRAINING_RECEIVED").focus();
            }
            else if (CO_WORKKERS =="") {alert('Co-worker is required.');
                $("#txt_CO_WORKKERS").focus();
            }
            else if (SUPERVISION_RECEIVED =="") {alert('Supervision received  is required.');
                $("#txt_SUPERVISION_RECEIVED").focus();
            }
            else if (LEVEL_OF_iNPUT =="") {alert('Affected decision  is required.');
                $("#txt_LEVEL_OF_iNPUT").focus();
            }
            else if (JOB_EXPACTATIONS =="") {
                alert('Expectation field cannot be left blank');
                $("#txt_expectation").focus();    
            }

        });

        //$('.chk_no').on('click',function(){
        //    $('.chk_no').each(function(){
        //        $(this).prop('checked',true);
        //    });
        //});

        //$('.chk_yes').on('click',function(){
        //    $('.chk_yes').each(function(){
        //        $(this).prop('checked',true);
        //    });
        //});


        $("#chk_ytw").on('click',function(){
            $("#chk_ntw").prop('checked',false);
        });
        $("#chk_ntw").on('click',function(){
            $("#chk_ytw").prop('checked',false);
        });

        $("#chk_ywc").on('click',function(){
            $("#chk_nwc").prop('checked',false);
        });
        $("#chk_nwc").on('click',function(){
            $("#chk_ywc").prop('checked',false);
        });

        $("#chk_yp").on('click',function(){
            $("#chk_np").prop('checked',false);
        });
        $("#chk_np").on('click',function(){
            $("#chk_yp").prop('checked',false);
        });

        $("#chk_ys").on('click',function(){
            $("#chk_ns").prop('checked',false);
        });
        $("#chk_ns").on('click',function(){
            $("#chk_ys").prop('checked',false);
        });

        $("#chk_yl").on('click',function(){
            $("#chk_nl").prop('checked',false);
        });
        $("#chk_nl").on('click',function(){
            $("#chk_yl").prop('checked',false);
        });

        $("#chk_ya").on('click',function(){
            $("#chk_na").prop('checked',false);
        });
        $("#chk_na").on('click',function(){
            $("#chk_ya").prop('checked',false);
        });
        $("#chk_nc").on('click',function(){
            $("#chk_yc").prop('checked',false);
        });
        $("#chk_yc").on('click',function(){
            $("#chk_nc").prop('checked',false);
        });
    });

    function isNumberKey(evt)
    {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
        {
            return false;
        }
        else {
            return true;
        }
    }
    function isRange()
    {
        $("#txt_EmployerName").on('keypress',function (event) {
            var letters = /^[a-zA-Z\s]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_Location").on('keypress',function (event) {
            var letters = /^[a-zA-Z\s]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_Position").on('keypress',function (event) {
            var letters = /^[a-zA-Z\s]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_WorkNature").on('keypress',function (event) {
            var letters = /^[a-zA-Z\s]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_SalaryPosition").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_SalaryPosition").on('keypress',function(){
            var strLen =$("#txt_SalaryPosition").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_SalaryPosition").focus();});
                return false;
            }
            else {
                $("#txt_SalaryPosition").val('');
            }
        });

        $("#txt_OrgOffer").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_OrgOffer").on('keypress',function(){
            var strLen =$("#txt_OrgOffer").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_OrgOffer").focus();});
                return false;
            }
            else {
                $("#txt_OrgOffer").val('');
            }
        });

        $("#txt_PERFORMANCE_FEEDBACK").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_PERFORMANCE_FEEDBACK").on('keypress',function(){
            var strLen =$("#txt_PERFORMANCE_FEEDBACK").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_PERFORMANCE_FEEDBACK").focus();});
                return false;
            }
            else {
                $("#txt_PERFORMANCE_FEEDBACK").val('');
            }
        });
        $("#txt_RECOGNISED_ACCOMP").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_RECOGNISED_ACCOMP").on('keypress',function(){
            var strLen =$("#txt_RECOGNISED_ACCOMP").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_RECOGNISED_ACCOMP").focus();});
                return false;
            }
            else {
                $("#txt_RECOGNISED_ACCOMP").val('');
            }
        });
        $("#txt_COMMUNICATED_EXPECT").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_COMMUNICATED_EXPECT").on('keypress',function(){
            var strLen =$("#txt_COMMUNICATED_EXPECT").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_COMMUNICATED_EXPECT").focus();});
                return false;
            }
            else {
                $("#txt_COMMUNICATED_EXPECT").val('');
            }
        });
        $("#txt_Treated").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_Treated").on('keypress',function(){
            var strLen =$("#txt_Treated").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_Treated").focus();});
                return false;
            }
            else {
                $("#txt_Treated").val('');
            }
        });
        $("#txt_Trained").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_Trained").on('keypress',function(){
            var strLen =$("#txt_Trained").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_Trained").focus();});
                return false;
            }
            else {
                $("#txt_Trained").val('');
            }
        });
        $("#txt_Leadership").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_Leadership").on('keypress',function(){
            var strLen =$("#txt_Leadership").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_Leadership").focus();});
                return false;
            }
            else {
                $("#txt_Leadership").val('');
            }
        });
        $("#txt_ENCOURAGED").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_ENCOURAGED").on('keypress',function(){
            var strLen =$("#txt_ENCOURAGED").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_ENCOURAGED").focus();});
                return false;
            }
            else {
                $("#txt_ENCOURAGED").val('');
            }
        });
        $("#txt_CONCERNS").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_CONCERNS").on('keypress',function(){
            var strLen =$("#txt_CONCERNS").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_CONCERNS").focus();});
                return false;
            }
            else {
                $("#txt_CONCERNS").val('');
            }
        });
        $("#txt_SUGGESTIONS").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_SUGGESTIONS").on('keypress',function(){
            var strLen =$("#txt_SUGGESTIONS").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_SUGGESTIONS").focus();});
                return false;
            }
            else {
                $("#txt_SUGGESTIONS").val('');
            }
        });
        $("#txt_KEPT_INFORMED").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_KEPT_INFORMED").on('keypress',function(){
            var strLen =$("#txt_KEPT_INFORMED").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_KEPT_INFORMED").focus();});
                return false;
            }
            else {
                $("#txt_KEPT_INFORMED").val('');
            }
        });
        $("#txt_WORK_LIFE_BALANCE").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_WORK_LIFE_BALANCE").on('keypress',function(){
            var strLen =$("#txt_WORK_LIFE_BALANCE").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_WORK_LIFE_BALANCE").focus();});
                return false;
            }
            else {
                $("#txt_WORK_LIFE_BALANCE").val('');
            }
        });
        $("#txt_ASSIGNMENT").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_ASSIGNMENT").on('keypress',function(){
            var strLen =$("#txt_ASSIGNMENT").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_ASSIGNMENT").focus();});
                return false;
            }
            else {
                $("#txt_ASSIGNMENT").val('');
            }
        });

        $("#txt_RECRUITMENT_PROCESS").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_RECRUITMENT_PROCESS").on('keypress',function(){
            var strLen =$("#txt_RECRUITMENT_PROCESS").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_RECRUITMENT_PROCESS").focus();});
                return false;
            }
            else {
                $("#txt_RECRUITMENT_PROCESS").val('');
            }
        });
        $("#txt_EMPLOYEE_ORIENTATION").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_EMPLOYEE_ORIENTATION").on('keypress',function(){
            var strLen =$("#txt_EMPLOYEE_ORIENTATION").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_EMPLOYEE_ORIENTATION").focus();});
                return false;
            }
            else {
                $("#txt_EMPLOYEE_ORIENTATION").val('');
            }
        });
        $("#txt_TRAINING_OPPORTUNITIES").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_TRAINING_OPPORTUNITIES").on('keypress',function(){
            var strLen =$("#txt_TRAINING_OPPORTUNITIES").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_TRAINING_OPPORTUNITIES").focus();});
                return false;
            }
            else {
                $("#txt_TRAINING_OPPORTUNITIES").val('');
            }
        });
        $("#txt_CAREER_DEVELOPMENT").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_CAREER_DEVELOPMENT").on('keypress',function(){
            var strLen =$("#txt_CAREER_DEVELOPMENT").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_CAREER_DEVELOPMENT").focus();});
                return false;
            }
            else {
                $("#txt_CAREER_DEVELOPMENT").val('');
            }
        });
        $("#txt_EMPLOYEE_MORALE").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_EMPLOYEE_MORALE").on('keypress',function(){
            var strLen =$("#txt_EMPLOYEE_MORALE").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_EMPLOYEE_MORALE").focus();});
                return false;
            }
            else {
                $("#txt_EMPLOYEE_MORALE").val('');
            }
        });
        $("#txt_FAIR_TREAT_EMPLOYEE").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_FAIR_TREAT_EMPLOYEE").on('keypress',function(){
            var strLen =$("#txt_FAIR_TREAT_EMPLOYEE").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_FAIR_TREAT_EMPLOYEE").focus();});
                return false;
            }
            else {
                $("#txt_FAIR_TREAT_EMPLOYEE").val('');
            }
        });
        $("#txt_RECOGNITION_FOR_JOB").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_RECOGNITION_FOR_JOB").on('keypress',function(){
            var strLen =$("#txt_RECOGNITION_FOR_JOB").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_RECOGNITION_FOR_JOB").focus();});
                return false;
            }
            else {
                $("#txt_RECOGNITION_FOR_JOB").val('');
            }
        });
        $("#txt_SUPPORT_FOR_WORK").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_SUPPORT_FOR_WORK").on('keypress',function(){
            var strLen =$("#txt_SUPPORT_FOR_WORK").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_SUPPORT_FOR_WORK").focus();});
                return false;
            }
            else {
                $("#txt_SUPPORT_FOR_WORK").val('');
            }
        });
        $("#txt_CORPRATION").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_CORPRATION").on('keypress',function(){
            var strLen =$("#txt_CORPRATION").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_CORPRATION").focus();});
                return false;
            }
            else {
                $("#txt_CORPRATION").val('');
            }
        });
        $("#txt_COMMUNICATION").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_COMMUNICATION").on('keypress',function(){
            var strLen =$("#txt_COMMUNICATION").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_COMMUNICATION").focus();});
                return false;
            }
            else {
                $("#txt_COMMUNICATION").val('');
            }
        });
        $("#txt_PERFORMANCE").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_PERFORMANCE").on('keypress',function(){
            var strLen =$("#txt_PERFORMANCE").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_PERFORMANCE").focus();});
                return false;
            }
            else {
                $("#txt_PERFORMANCE").val('');
            }
        });
        $("#txt_INTEREST").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_INTEREST").on('keypress',function(){
            var strLen =$("#txt_INTEREST").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_INTEREST").focus();});
                return false;
            }
            else {
                $("#txt_INTEREST").val('');
            }
        });
        $("#txt_COMMITMENT").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_COMMITMENT").on('keypress',function(){
            var strLen =$("#txt_COMMITMENT").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_COMMITMENT").focus();});
                return false;
            }
            else {
                $("#txt_COMMITMENT").val('');
            }
        });
        $("#txt_CONCERN").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_CONCERN").on('keypress',function(){
            var strLen =$("#txt_CONCERN").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_CONCERN").focus();});
                return false;
            }
            else {
                $("#txt_CONCERN").val('');
            }
        });
        $("#txt_ADMINISTRATIVE").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_ADMINISTRATIVE").on('keypress',function(){
            var strLen =$("#txt_ADMINISTRATIVE").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_ADMINISTRATIVE").focus();});
                return false;
            }
            else {
                $("#txt_ADMINISTRATIVE").val('');
            }
        });

        $("#txt_TYPE_OF_WORK").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_TYPE_OF_WORK").on('keypress',function(){
            var strLen =$("#txt_TYPE_OF_WORK").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_TYPE_OF_WORK").focus();});
                return false;
            }
            else {
                $("#txt_TYPE_OF_WORK").val('');
            }
        });
        $("#txt_FAIRNESS_OF_WORKLOAD").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_FAIRNESS_OF_WORKLOAD").on('keypress',function(){
            var strLen =$("#txt_FAIRNESS_OF_WORKLOAD").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_FAIRNESS_OF_WORKLOAD").focus();});
                return false;
            }
            else {
                $("#txt_FAIRNESS_OF_WORKLOAD").val('');
            }
        });
        $("#txt_SALARY").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_SALARY").on('keypress',function(){
            var strLen =$("#txt_SALARY").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_SALARY").focus();});
                return false;
            }
            else {
                $("#txt_SALARY").val('');
            }
        });
        $("#txt_WORKING_CONDTIONS").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_WORKING_CONDTIONS").on('keypress',function(){
            var strLen =$("#txt_WORKING_CONDTIONS").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_WORKING_CONDTIONS").focus();});
                return false;
            }
            else {
                $("#txt_WORKING_CONDTIONS").val('');
            }
        });
        $("#txt_TOOLS_PROVIDED").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_TOOLS_PROVIDED").on('keypress',function(){
            var strLen =$("#txt_TOOLS_PROVIDED").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_TOOLS_PROVIDED").focus();});
                return false;
            }
            else {
                $("#txt_TOOLS_PROVIDED").val('');
            }
        });
        $("#txt_TRAINING_RECEIVED").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_TRAINING_RECEIVED").on('keypress',function(){
            var strLen =$("#txt_TRAINING_RECEIVED").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_TRAINING_RECEIVED").focus();});
                return false;
            }
            else {
                $("#txt_TRAINING_RECEIVED").val('');
            }
        });
        $("#txt_CO_WORKKERS").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_CO_WORKKERS").on('keypress',function(){
            var strLen =$("#txt_CO_WORKKERS").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_CO_WORKKERS").focus();});
                return false;
            }
            else {
                $("#txt_CO_WORKKERS").val('');
            }
        });
        $("#txt_SUPERVISION_RECEIVED").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_SUPERVISION_RECEIVED").on('keypress',function(){
            var strLen =$("#txt_SUPERVISION_RECEIVED").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_SUPERVISION_RECEIVED").focus();});
                return false;
            }
            else {
                $("#txt_SUPERVISION_RECEIVED").val('');
            }
        });
        $("#txt_LEVEL_OF_iNPUT").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_LEVEL_OF_iNPUT").on('keypress',function(){
            var strLen =$("#txt_LEVEL_OF_iNPUT").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_LEVEL_OF_iNPUT").focus();});
                return false;
            }
            else {
                $("#txt_LEVEL_OF_iNPUT").val('');
            }
        });
    }
    function ClearText() {
        $('#txt_Reasion').val("");
        $('.chk_yes').each(function(){
            $(this).prop('checked',false);
        });
        $('.chk_no').each(function(){
            $(this).prop('checked',false);
        });
        // OR
        //$("#chk_ytw").prop("checked",false);
        //$("#chk_ntw").prop("checked",false);
        //$('#chk_ywc').prop("checked",false);
        //$('#chk_nwc').prop("checked",false);
        //$('#chk_yp').prop("checked",false);
        //$('#chk_np').prop("checked",false);
        //$('#chk_ys').prop("checked",false);
        //$('#chk_ns').prop("checked",false);
        //$('#chk_yl').prop("checked",false);
        //$('#chk_nl').prop("checked",false);
        //$('#chk_ya').prop("checked",false);
        //$('#chk_na').prop("checked",false);
        //$("#chk_yc").prop('checked',false);
        //$("#chk_nc").prop('checked',false);
        $('#txt_EmployerName').val("");
        $('#txt_Location').val("");
        $('#txt_Position').val("");
        $('#txt_WorkNature').val("");
        $('#txt_SalaryPosition').val("");
        $('#txt_OrgOffer').val("");

        $('#txt_PERFORMANCE_FEEDBACK').val("");
        $('#txt_RECOGNISED_ACCOMP').val("");
        $('#txt_COMMUNICATED_EXPECT').val("");
        $('#txt_Treated').val("");
        $('#txt_Trained').val("");
        $('#txt_Leadership').val("");
        $('#txt_ENCOURAGED').val("");
        $('#txt_CONCERNS').val("");
        $('#txt_SUGGESTIONS').val("");
        $('#txt_KEPT_INFORMED').val("");
        $('#txt_WORK_LIFE_BALANCE').val("");
        $('#txt_ASSIGNMENT').val("");

        $('#txt_RECRUITMENT_PROCESS').val("");
        $('#txt_EMPLOYEE_ORIENTATION').val("");
        $('#txt_TRAINING_OPPORTUNITIES').val("");
        $('#txt_CAREER_DEVELOPMENT').val("");
        $('#txt_EMPLOYEE_MORALE').val("");
        $('#txt_FAIR_TREAT_EMPLOYEE').val("");
        $('#txt_RECOGNITION_FOR_JOB').val("");
        $('#txt_SUPPORT_FOR_WORK').val("");
        $('#txt_CORPRATION').val("");
        $('#txt_COMMUNICATION').val("");
        $('#txt_PERFORMANCE').val("");
        $('#txt_INTEREST').val("");
        $('#txt_COMMITMENT').val("");
        $('#txt_CONCERN').val("");
        $('#txt_ADMINISTRATIVE').val("");

        $('#txt_TYPE_OF_WORK').val("");
        $('#txt_FAIRNESS_OF_WORKLOAD').val("");
        $('#txt_SALARY').val("");
        $('#txt_WORKING_CONDTIONS').val("");
        $('#txt_TOOLS_PROVIDED').val("");
        $('#txt_TRAINING_RECEIVED').val("");
        $('#txt_CO_WORKKERS').val("");
        $('#txt_SUPERVISION_RECEIVED').val("");
        $('#txt_LEVEL_OF_iNPUT').val("");
        $("#txt_expectation").val("");
    }

    function CancelOnClick() {
        window.location.href = "/Home/Dashboard";
    }

</script>
<div class="container" id="exTab1">
    <div class="row">
        <div class="panel">
            <div class="panel-heading" style="background-color:#00bff9;"><h4 align="left" style="font-size:15px;">Exit</h4></div>
            <div class="panel-body" style="margin-right: 136px;">
                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Name:<span class="required">*</span></label>
                                <input type="text" class="form-control" id="txt_Name" value="@item.first_name" readonly="readonly" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Job Title:<span class="required">*</span></label>
                                <input type="text" class="form-control" id="txt_JobTitle" value="@item.job_name" readonly="readonly" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Designation:</label>
                                <input type="text" class="form-control" id="txt_Designation" value="@item.designation" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Department:</label>
                                <input type="text" class="form-control" id="txt_Department" value="@item.department_name" readonly="readonly" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Start Date With Organization:</label>
                                <div class="cal-icon">
                                    <input class="form-control" placeholder="dd-mmm-yyyy" type="text" id="txt_DueDate" value="@item.strDOJ" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Separation Date:</label>
                                <input class="form-control" type="date" id="txt_Separation" />
                                @*<div class="cal-icon">
                                    <input class="form-control mycal" placeholder="dd-mmm-yyyy" type="text" id="txt_Separation">                                    
                                </div>*@
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-pills">            
            <li class="active"><a href="#Reason" data-toggle="tab">Reason</a></li>
            <li><a href="#table_1" data-toggle="tab">Dissatisfaction</a></li>
            <li><a href="#table_2" data-toggle="tab">Job Aspects</a></li>
            <li><a href="#table_3" data-toggle="tab">Organization Aspects</a></li>
            <li><a href="#table_4" data-toggle="tab">Supervisor</a></li>
            <li><a href="#table_5" data-toggle="tab">Another job</a></li>
            <li><a href="#table_6" data-toggle="tab">Expectation</a></li>            
        </ul>
        <div class="tab-content clearfix">            
            <div id="Reason" class="tab-pane">
                <div class="row">
                    <div class="panel">
                        <div class="panel-heading" style="background-color:#00bff9;"><h4 align="left" style="font-size:15px;"></h4></div>
                        <div class="panel-body" style="margin-right: 136px;">
                            <table class="table table-bordered" id="checkboxes">
                                <thead>
                                    <tr style="padding:0px;">
                                        <th scope="col">1</th>
                                        <th colspan="11">Please describe the primary reason(s) you are leaving your current position. </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="padding:0px;">
                                        <td></td>
                                        <td><input type="text" class="form-control" id="txt_Reasion" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="table_1">
                <div class="row">
                    <div class="panel">
                        <div class="panel-heading" style="background-color:#00bff9;"><h4 align="left" style="font-size:15px;"></h4></div>
                        <div class="panel-body" style="margin-right: 136px;">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">2</th>
                                        <th colspan="8">Did dissatisfaction with any of the following factors influence your decision to leave?</th>
                                        <th scope="col">YES</th>
                                        <th scope="col">NO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td colspan="8">Type of work</td>
                                        <td><input type="checkbox" id="chk_ytw" class="chk_yes" name="chekyes" value="1" /></td>
                                        <td><input type="checkbox" id="chk_ntw" class="chk_no" name="chekno" value="0" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="8">Working conditions (setting, schedule, travel, flexibility)</td>
                                        <td><input type="checkbox" id="chk_ywc" class="chk_yes" name="chekyes" value="1" /></td>
                                        <td><input type="checkbox" id="chk_nwc" class="chk_no" name="chekno" value="0" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="8">Pay</td>
                                        <td><input type="checkbox" id="chk_yp" class="chk_yes" name="chekyes" value="1" /></td>
                                        <td><input type="checkbox" id="chk_np" class="chk_no" name="chekno" value="0" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="8">Supervisor</td>
                                        <td><input type="checkbox" id="chk_ys" class="chk_yes" name="chekyes" value="1" /></td>
                                        <td><input type="checkbox" id="chk_ns" class="chk_no" value="0" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="8">Location</td>
                                        <td><input type="checkbox" id="chk_yl" class="chk_yes" name="chekyes" value="1" /></td>
                                        <td><input type="checkbox" id="chk_nl" class="chk_no" name="chekno" value="0" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="8">Cost of living in area</td>
                                        <td><input type="checkbox" id="chk_ya" class="chk_yes" name="chekyes" value="1" /></td>
                                        <td><input type="checkbox" id="chk_na" class="chk_no" name="chekno" value="0" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="8">Commute</td>
                                        <td><input type="checkbox" id="chk_yc" class="chk_yes" name="chekyes" value="1" /></td>
                                        <td><input type="checkbox" id="chk_nc" class="chk_no" name="chekno" value="0" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div id="table_2" class="tab-pane">
                <div class="row">
                    <div class="panel">
                        <div class="panel-heading" style="background-color:#00bff9;"><h4 align="left" style="font-size:15px;"></h4></div>
                        <div class="panel-body" style="margin-right: 136px;">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th rowspan="2">3</th>
                                        <th colspan="6" rowspan="2">Please rate the following aspects of the job you are vacating</th>
                                        <th scope="col" style="text-align:center"><strong>Poor &nbsp;:&nbsp;1</strong></th>
                                        <th scope="col" style="text-align:center"><strong>Below Average &nbsp;:&nbsp;2</strong></th>
                                        <th scope="col" style="text-align:center"><strong>Average &nbsp;:&nbsp;3</strong></th>
                                        <th scope="col" style="text-align:center"><strong>Above Average &nbsp;:&nbsp;4</strong></th>
                                        <th scope="col" style="text-align:center"><strong>Excellent &nbsp;:&nbsp;5</strong></th>
                                    </tr>
                                </thead>
                            </table>
                            <table class="table table-bordered">

                                <tbody>

                                    <tr>

                                        <td style="width:25px; height:40px;" class="d-flex flex-row bg-secondary"></td>
                                        <td colspan="6" style="width:422px; height:40px;" class="d-flex flex-row bg-secondary">Type of work performed</td>
                                        <td style="width:71px; height:40px; padding:0px;" class="d-flex flex-row bg-secondary"><input type="text" class="form-control" id="txt_TYPE_OF_WORK" /></td>

                                    </tr>
                                    <tr>
                                        <td style="width:25px; height:40px;"></td>
                                        <td colspan="6" style="width:422px; height:40px;">Fairness of workload</td>
                                        <td style="width:71px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_FAIRNESS_OF_WORKLOAD" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:25px; height:40px;"></td>
                                        <td colspan="6" style="width:422px; height:40px;">Salary</td>
                                        <td style="width:71px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_SALARY" onkeypress="return NumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:25px; height:40px;"></td>
                                        <td colspan="6" style="width:422px; height:40px;">Working conditions</td>
                                        <td style="width:71px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_WORKING_CONDTIONS" onkeypress="return NumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:25px; height:40px;"></td>
                                        <td colspan="6" style="width:422px; height:40px;">Tools and equipment provided</td>
                                        <td style="width:71px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_TOOLS_PROVIDED" onkeypress="return NumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:25px; height:40px;"></td>
                                        <td colspan="6" style="width:422px; height:40px;">Training received</td>
                                        <td style="width:71px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_TRAINING_RECEIVED" onkeypress="return NumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:25px; height:40px;"></td>
                                        <td colspan="6" style="width:422px; height:40px;">Co-workers</td>
                                        <td style="width:71px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_CO_WORKKERS" onkeypress="return NumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:25px; height:40px;"></td>
                                        <td colspan="6" style="width:422px; height:40px;">Supervision received</td>
                                        <td style="width:71px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_SUPERVISION_RECEIVED" onkeypress="return NumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:25px; height:40px;"></td>
                                        <td colspan="6" style="width:422px; height:40px;">Level of input in decisions that affected you</td>
                                        <td style="width:71px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_LEVEL_OF_iNPUT" onkeypress="return NumberKey(event);" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="table_3" class="tab-pane">
                <div class="row">
                    <div class="panel">
                        <div class="panel-heading" style="background-color:#00bff9;"><h4 align="left" style="font-size:15px;"></h4></div>
                        <div class="panel-body" style="margin-right: 136px;">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th rowspan="2">4</th>
                                        <th colspan="6" rowspan="2">Please rate the following aspects of the organization overall.</th>
                                        <th scope="col" style="text-align:center"><strong>Poor &nbsp;:&nbsp;1</strong></th>
                                        <th scope="col" style="text-align:center"><strong>Below Average &nbsp;:&nbsp;2</strong></th>
                                        <th scope="col" style="text-align:center"><strong>Average &nbsp;:&nbsp;3</strong></th>
                                        <th scope="col" style="text-align:center"><strong>Above Average &nbsp;:&nbsp;4</strong></th>
                                        <th scope="col" style="text-align:center"><strong>Excellent &nbsp;:&nbsp;5</strong></th>
                                    </tr>
                                </thead>
                            </table>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td style="width:26px; height:40px;"></td>
                                        <td colspan="6" style="width:421px; height:40px;">Recruitment process</td>
                                        <td style="width:71px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_RECRUITMENT_PROCESS" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:26px; height:40px;"></td>
                                        <td colspan="6" style="width:421px; height:40px;">New employee orientation</td>
                                        <td style="width:71px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_EMPLOYEE_ORIENTATION" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:26px; height:40px;"></td>
                                        <td colspan="6" style="width:421px; height:40px;">Training opportunities</td>
                                        <td style="width:71px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_TRAINING_OPPORTUNITIES" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:26px; height:40px;"></td>
                                        <td colspan="6" style="width:421px; height:40px;">Career development opportunities</td>
                                        <td style="width:71px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_CAREER_DEVELOPMENT" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:26px; height:40px;"></td>
                                        <td colspan="6" style="width:421px; height:40px;">Employee morale</td>
                                        <td style="width:71px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_EMPLOYEE_MORALE" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:26px; height:40px;"></td>
                                        <td colspan="6" style="width:421px; height:40px;">Fair treatment of employees</td>
                                        <td style="width:71px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_FAIR_TREAT_EMPLOYEE" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:26px; height:40px;"></td>
                                        <td colspan="6" style="width:421px; height:40px;">Recognition for a job well done</td>
                                        <td style="width:71px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_RECOGNITION_FOR_JOB" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:26px; height:40px;"></td>
                                        <td colspan="6" style="width:421px; height:40px;">Support of work-life balance</td>
                                        <td style="width:71px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_SUPPORT_FOR_WORK" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:26px; height:40px;"></td>
                                        <td colspan="6" style="width:421px; height:40px;">Cooperation within the agency</td>
                                        <td style="width:71px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_CORPRATION" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:26px; height:40px;"></td>
                                        <td colspan="6" style="width:421px; height:40px;">Communication between management and employees</td>
                                        <td style="width:71px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_COMMUNICATION" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:26px; height:40px;"></td>
                                        <td colspan="6" style="width:421px; height:40px;">Performance and development planning and evaluation</td>
                                        <td style="width:71px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_PERFORMANCE" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:26px; height:40px;"></td>
                                        <td colspan="6" style="width:421px; height:40px;">Interest and investment in employees</td>
                                        <td style="width:71px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_INTEREST" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:26px; height:40px;"></td>
                                        <td colspan="6" style="width:421px; height:40px;">Commitment to customer service</td>
                                        <td style="width:71px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_COMMITMENT" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:26px; height:40px;"></td>
                                        <td colspan="6" style="width:421px; height:40px;">Concern with quality and excellence</td>
                                        <td style="width:71px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_CONCERN" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:26px; height:40px;"></td>
                                        <td colspan="6" style="width:421px; height:40px;">Administrative polices/procedures</td>
                                        <td style="width:71px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_ADMINISTRATIVE" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="table_4" class="tab-pane">
                <div class="row">
                    <div class="panel">
                        <div class="panel-heading" style="background-color:#00bff9;"><h4 align="left" style="font-size:15px;"></h4></div>
                        <div class="panel-body" style="margin-right: 136px;">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th rowspan="2">5</th>
                                        <th colspan="6" rowspan="2">Please rate your supervisor on the following factors.</th>
                                        <th scope="col" style="text-align:center"><strong>Never &nbsp;:&nbsp;1</strong></th>
                                        <th scope="col" style="text-align:center"><strong>Seldom &nbsp;:&nbsp;2</strong></th>
                                        <th scope="col" style="text-align:center"><strong>Often &nbsp;:&nbsp;3</strong></th>
                                        <th scope="col" style="text-align:center"><strong>Usually &nbsp;:&nbsp;4</strong></th>
                                        <th scope="col" style="text-align:center"><strong>Always &nbsp;:&nbsp;5</strong></th>
                                    </tr>
                                </thead>
                            </table>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td style="width:31px; height:40px;"></td>
                                        <td colspan="6" style="width:448px; height:40px;">Gave usable performance feedback</td>
                                        <td style="width:98px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_PERFORMANCE_FEEDBACK" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:31px; height:40px;"></td>
                                        <td colspan="6" style="width:448px; height:40px;">Recognized accomplishments</td>
                                        <td style="width:98px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_RECOGNISED_ACCOMP" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:31px; height:40px;"></td>
                                        <td colspan="6" style="width:448px; height:40px;">Clearly communicated expectations</td>
                                        <td style="width:98px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_COMMUNICATED_EXPECT" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:31px; height:40px;"></td>
                                        <td colspan="6" style="width:448px; height:40px;">Treated you fairly and respectfullys</td>
                                        <td style="width:98px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_Treated" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:31px; height:40px;"></td>
                                        <td colspan="6" style="width:448px; height:40px;">Coached, trained, & developed you</td>
                                        <td style="width:98px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_Trained" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:31px; height:40px;"></td>
                                        <td colspan="6" style="width:448px; height:40px;">Provided leadership</td>
                                        <td style="width:98px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_Leadership" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:31px; height:40px;"></td>
                                        <td colspan="6" style="width:448px; height:40px;">Encouraged teamwork & cooperation</td>
                                        <td style="width:98px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_ENCOURAGED" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:31px; height:40px;"></td>
                                        <td colspan="6" style="width:448px; height:40px;">Resolved concerns promptly</td>
                                        <td style="width:98px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_CONCERNS" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:31px; height:40px;"></td>
                                        <td colspan="6" style="width:448px; height:40px;">Listened to suggestions & feedback</td>
                                        <td style="width:98px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_SUGGESTIONS" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:31px; height:40px;"></td>
                                        <td colspan="6" style="width:448px; height:40px;">Kept employees informed</td>
                                        <td style="width:98px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_KEPT_INFORMED" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:31px; height:40px;"></td>
                                        <td colspan="6" style="width:448px; height:40px;">Supported work-life balance</td>
                                        <td style="width:98px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_WORK_LIFE_BALANCE" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:31px; height:40px;"></td>
                                        <td colspan="6" style="width:448px; height:40px;">Provided appropriate & challenging assignments</td>
                                        <td style="width:98px; height:40px; padding:0px;"><input type="text" class="form-control" id="txt_ASSIGNMENT" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="table_5" class="tab-pane">
                <div class="row">
                    <div class="panel">
                        <div class="panel-heading" style="background-color:#00bff9;"><h4 align="left" style="font-size:15px;"></h4></div>
                        <div class="panel-body" style="margin-right: 136px;">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">6</th>
                                        <th colspan="5">If you accepted another job, please complete the following. </th>
                                        <th colspan="5"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="padding:0px;">
                                        <td></td>
                                        <td colspan="5">Name of new employer</td>
                                        <td colspan="5"><input type="text" class="form-control" id="txt_EmployerName" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="5">Location of position</td>
                                        <td colspan="5"><input type="text" class="form-control" id="txt_Location" /></td>
                                    </tr>
                                    <tr>
                                        <td> </td>
                                        <td colspan="5">Title of position</td>
                                        <td colspan="5"><input type="text" class="form-control" id="txt_Position" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="5">Nature of work of position</td>
                                        <td colspan="5"><input type="text" class="form-control" id="txt_WorkNature" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="5">Salary of position</td>
                                        <td colspan="5"><input type="text" class="form-control" id="txt_SalaryPosition" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="5">What the new position and/or organization offers that we do not.</td>
                                        <td colspan="5"><input type="text" class="form-control" id="txt_OrgOffer" onkeypress="return isNumberKey(event);" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="table_6" class="tab-pane">
                <div class="row">
                    <div class="panel">
                        <div class="panel-heading" style="background-color:#00bff9;"><h4 align="left" style="font-size:15px;"></h4></div>
                        <div class="panel-body" style="margin-right: 136px;">
                            <table class="table table-bordered" id="checkboxes">
                                <thead>
                                    <tr style="padding:0px;">
                                        <th scope="col">7</th>
                                        <th colspan="10">Were your expectations of the job and this organization met? If not, why?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td><textarea class="form-control" id="txt_expectation" rows="8"></textarea></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary" id="btn_Submit">Submit</button>
                                        <button type="button" class="btn btn-primary" onclick="ClearText()">Reset</button>
                                        <button type="button" class="btn btn-primary" onclick="CancelOnClick()">Cancel</button>
                                        <input type="hidden" id="hdn_Exit_id" value="@ViewBag.Exit_idType" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>,
                </div>
            </div>                        
        </div>
    </div>
</div>
